/* set background color for the entire page */
body {
    background-color: #f6941475;
    font-family: 'Verdana';
}

/* center all sections
section {
    text-align: center;
    width: 100%;
    display: flex;
    justify-content: center;
}
 */
h1 {
    text-align: center;
}
 section {
    display: grid;
    place-items: center;
}